{#
   This file is part of the BaitPollBundle package.

   (c) BAIT s.r.o. <http://www.bait.sk/>

   For the full copyright and license information, please view the LICENSE
   file that was distributed with this source code.
#}

<form action="{{ path(request.attributes.get('_route')) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit">
</form>
